<html>
    <head>
        {% if title %}
        <title>{{title}} - My Apps</title>
        {% else %}
        <title>Welcome to My Apps</title>
        {% endif %}
    </head>
    <body>
        <div> My Apps: <a href="/index">Home</a>
        <a href='/upload'> Upload</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li><span style="color: red;">{{ message }}</span></li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}        
        
        {% endblock %}
    </body>
</html>