{% extends "public/templates/public_template.html" %} 

{% block title %}Upload Images{% endblock %} 

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
      <h1>Upload an image</h1>
      <hr />
      <form action="/upload_img" , method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label>Select an image</label>
          <div class="custom-file">
            <input oninput="filesize(this);" type="file" class="custom-file-input" name="image" id="image" />
            <label class="custom-file-label" for="image"> Select an image....</label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
        {% if feedback %}
        <p class="text-danger float-right">{{ feedback }}</p>
        {% endif %}
      </form>
    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
    function filesize(elem){
    document.cookie = `filesize=${elem.files[0].size}`
  }
</script>
{% endblock %}